/*body*/
body {
  background-color: #010626;
}

/*header*/
header {
  /* background-color: #010626; */
  background-image: linear-gradient(#021859, #010626);
}

div.header {
  display: inline-block;
}

div.header-logo-bc {
  position: relative;
}

/*logo projeto*/
div.image-logo-bc,
div.title-logo-bc {
  display: inline-block;
}

div.image-logo-bc {
  width: 10%;
  height: 10%;
}

img.logo-bc {
  width: 100%;
  height: 100%;
  color: #F282A7;
  padding-right: .5rem;
  padding-left: .5rem;
}

div.title-logo-bc {
  transform: translateY(20%);
}

h1.text-logo-bc {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  color: #F282A7;
  padding-right: .5rem;
  padding-left: .5rem;
}

/*nav-bar*/
a.title-head {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  color: #F282A7;

}

a.title-head:hover {
  color:#BDF2E3;
  transition: 0.5s;
}

li.item-nav {
  list-style-type: none;
  display: inline-block;
}

/*nav-bar chakra*/
div.img-icone-chakra {
  width: 20%;
  height: 20%;
}

img.icone-chakra {
  width: 100%;
  height: 100%;
  color: #F282A7;
  padding-left: .5rem;
}

div.img-icone-chakra,
div.title-chakra {
  display: inline-block;
}

div.drop-head {
  background: #021859;
  border-radius: 5%;
  box-shadow: 0;
}

a.drop-text {
  color: #F282A7;
  font-family: 'Josefin Sans', sans-serif;
}

a.drop-text:hover {
  background-color: #BDF2E3;
}


a.drop-text:hover {
  color:#BDF2E3;
  background-color: #010626;
  transition: 0.5s;
}

/*nav-bar plantas*/
div.img-icone-plantas {
  width: 20%;
  height: 20%;
}

img.icone-plantas {
  width: 100%;
  height: 100%;
  color: #F282A7;
  padding-left: .5rem;
}

div.img-icone-plantas,
div.title-plantas {
  display: inline-block;
}

/* nav-bar cristais */
div.img-icone-cristais {
  width: 20%;
  height: 20%;
}

img.icone-cristais {
  width: 100%;
  height: 100%;
  color: #F282A7;
  padding-left: .5rem;
}

div.img-icone-cristais,
div.title-cristais {
  display: inline-block;
}

/*nav-bar sobre */
div.img-icone-sobre {
  width: 20%;
  height: 20%;
}

img.icone-sobre {
  width: 100%;
  height: 100%;
  color: #F282A7;
  padding-left: .5rem;
}

div.img-icone-sobre,
div.title-sobre {
  display: inline-block;
}

/*FOOTER*/

footer {
  background-color: #010626;
  color: #F282A7;
  margin-top: 100px;
}

div.box-footer {
  text-align: center;
}

div.footer-img {
  position: relative;
}

img.footer-logo-bc {
  transform: translateY(60%);
  left: 0;
  width: 60%;
  left: 60%;
}

h4.title-footer {
  color: #F282A7;
  text-align: center;
}

footer a {
  color: #BDF2E3;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #F282A7;
  text-decoration: none;
}

p.text-footer {
  color: #BDF2E3;
  font-size: 14px;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */
.social-network a.ico-social:hover {
  background-color:  #F282A7;
}

.social-network a.ico-social:hover i {
  color: #BDF2E3;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
background-color: #BDF2E3;
}

hr.line {
  background-color:#F282A7;
}

a.cop-footer {
  font-weight: 750;
}