/*body*/
body {
  background-color: #010626;
}

/*header*/
header {
  /* background-color: #010626; */
  background-image: linear-gradient(#021859, #010626);
}

div.header {
  display: inline-block;
}

div.header-logo-bc {
  position: relative;
}

/*logo projeto*/
div.image-logo-bc,
div.title-logo-bc {
  display: inline-block;
  /* float: left; */
}

div.image-logo-bc {
  width: 10%;
  height: 10%;
}

img.logo-bc {
  width: 100%;
  height: 100%;
  color: #F282A7;
  padding-right: .5rem;
  padding-left: .5rem;
}

div.title-logo-bc {
  transform: translateY(20%);
}

h1.text-logo-bc {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  color: #F282A7;
  padding-right: .5rem;
  padding-left: .5rem;
}

/*nav-bar*/
a.title-head {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  color: #F282A7;
}

a.title-head:hover {
  color:#BDF2E3;
  transition: 0.5s;
}

li.item-nav {
  list-style-type: none;
  display: inline-block;
}

/*nav-bar chakra*/
div.img-icone-chakra {
  width: 20%;
  height: 20%;
}

img.icone-chakra {
  width: 100%;
  height: 100%;
  color: #F282A7;
  padding-left: .5rem;
}

div.img-icone-chakra,
div.title-chakra {
  display: inline-block;
}


div.drop-head {
  background: #021859;
  border-radius: 5%;
  box-shadow: 0;
}

a.drop-text {
  color: #F282A7;
  font-family: 'Josefin Sans', sans-serif;
}

a.drop-text:hover {
  color:#BDF2E3;
  background-color: #010626;
  transition: 0.5s;
}

/*nav-bar plantas*/
div.img-icone-plantas {
  width: 20%;
  height: 20%;
}

img.icone-plantas {
  width: 100%;
  height: 100%;
  color: #F282A7;
  padding-left: .5rem;
}

div.img-icone-plantas,
div.title-plantas {
  display: inline-block;
}

/* nav-bar cristais */
div.img-icone-cristais {
  width: 20%;
  height: 20%;
}

img.icone-cristais {
  width: 100%;
  height: 100%;
  color: #F282A7;
  padding-left: .5rem;
}

div.img-icone-cristais,
div.title-cristais {
  display: inline-block;
}

/*nav-bar sobre */
div.img-icone-sobre {
  width: 20%;
  height: 20%;
}

img.icone-sobre {
  width: 100%;
  height: 100%;
  color: #F282A7;
  padding-left: .5rem;
}

div.img-icone-sobre,
div.title-sobre {
  display: inline-block;
}